{% extends 'book_outlet/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "book_outlet/basic.css" %}" >
{% endblock %}

{% block navigation %}
    <nav>
        <img class="img1" src="{% static "book_outlet/image/flower.png" %}" alt="front" />
        <a href = "{% url "index" %}">Book Store</a>
        <img class="img2" src="{% static "book_outlet/image/flower.png" %}" alt="back" />
    </nav>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2>{{ author }}</h2>
    <p>The book is the rating of {{ rating }}
    {% if is_bestseller %}
        and is the bestseller.
    {% else %}
        but isn't a bestseller.
    {% endif %}
    </p>
{% endblock %}