{% extends 'book_outlet/base.html' %}
{% load static %}

{% block title %}
    All Books
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "book_outlet/basic.css" %}">
{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{ book.rating }}) </li>
        {% endfor %}
    </ul>

    <hr class="hr-double">
    
    <p>Total number of the books: {{ total_number_of_book }}</p>
    <p>Average rating: {{ average_rating.rating__avg }}</p>

{% endblock %}